    #gameboard {
        width: 560px;
        height: 665px;
        /* background-image: url('images/gameBackground.svg'); */
        background-size: cover;
        background-color: #293780;
    }
    
    #backgroundSvg {
        position: absolute;
    }
    
    svg {
        z-index: 100;
        z-index: -1;
        position: relative;
    }
    
    html {
        display: table;
        margin: auto;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        display: table-cell;
        vertical-align: middle;
    }
    
    .block {
        width: 47.5px;
        height: 10px;
        position: relative;
        color: black;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        margin: 3px;
        border-radius: 15px;
    }
    
    path {
        position: relative;
        z-index: -14;
    }
    
    .letter {
        position: relative;
        z-index: 9;
    }
    
    #topBoard {
        height: 220px;
        padding: 5px 20px 5px 20px;
        display: flex;
        background: url('images/starbackground.svg');
        flex-wrap: wrap;
        background-repeat: round;
    }
    
    #bottomBoard {
        background: url('images/cloud.svg');
        background-repeat: no-repeat;
        height: 250px;
        display: flex;
        background-repeat: round;
        margin: 20px 10px 0 10px;
        flex-wrap: wrap;
    }
    
    .filter {
        height: 45px;
        width: 73px;
        margin: 3px;
        font-size: 12px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 1;
    }
    
    #filterSection {
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 8px 0 8px;
        justify-content: space-around;
    }
    
    div[clickable="false"] {
        pointer-events: none;
        color: rgba(43, 43, 43, 0.213);
    }
    
    div[draggable="true"] {
        cursor: pointer;
    }
    
    .hangul {
        font-weight: bold;
        font-size: 30px;
        height: 35px;
        width: 35px;
        margin: 8px;
        background: url('images/Star.svg');
    }
    
    #header {
        background-image: url('images/header.svg');
        background-repeat: round;
        background-size: contain;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        color: white;
        padding: 14px;
        font-size: 20px;
    }
    
    #menuScreen {
        background: url('images/menubackground.svg');
        background-repeat: round;
        height: 650px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #footer {
        height: 50px;
        display: flex;
        z-index: 2;
        align-items: center;
        position: relative;
        justify-content: center;
        margin: 0 10px 0 10px;
    }
    
    #iconWrapper {
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    
    .options {
        margin: 30px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
    }
    
    div [canChangeFilter="false"] {
        pointer-events: none;
        color: grey;
    }
    
    div [filterOn="true"] {
        font-weight: bold;
        font-size: 14px;
    }
    
    .footerIcon {
        background-color: transparent;
        z-index: 5;
        position: inherit;
    }
    
    .icon {
        cursor: pointer;
        padding: 20px;
        z-index: 5;
        font-size: 22px;
    }
    
    #timer {
        display: flex;
        flex-direction: row;
    }
    
    .resetButton {
        color: black;
        font-size: 20px;
    }