#gameboard {
    width: 400px;
    height: 400px;
    /* background-color: transparent;
    display: flex;
    flex-wrap: wrap; */
}

body {
    font-family: 'Lato', sans-serif;
}

.block {
    height: 40px;
    width: 40px;
    position: relative;
    z-index: 1;
}

.block svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -13;
}

path {
    position: relative;
    z-index: -14;
}

.hangul {
    cursor: pointer;
}

.letter {
    position: relative;
    z-index: 9;
}

#topBoard {
    height: 200px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

#bottomBoard {
    height: 200px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.filter {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: gainsboro;
    cursor: pointer;
}

#filterSection {
    height: 50px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[clickable="false"] {
    pointer-events: none;
    background-color: black;
}