#gameboard {
    width: 560px;
    height: 650px;
    /* background-image: url('images/gameBackground.svg'); */
    background-size: cover;
}

html {
    display: table;
    margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    display: table-cell;
    vertical-align: middle;
}

.block {
    width: 47.5px;
    height: 10px;
    position: relative;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: 3px;
    border-radius: 15px;
}

path {
    position: relative;
    z-index: -14;
}

.letter {
    position: relative;
    z-index: 9;
}

#topBoard {
    height: 220px;
    padding: 33px 12px 0 12px;
    display: flex;
    flex-wrap: wrap;
}

#bottomBoard {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.filter {
    height: 42px;
    width: 73px;
    margin: 3px;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url('images/filter5.svg');
    background-size: cover;
    /* background-size: contain; */
    cursor: pointer;
}

#filterSection {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 0 8px;
    justify-content: space-around;
}

div[clickable="false"] {
    pointer-events: none;
    color: rgba(43, 43, 43, 0.213);
}

div[draggable="true"] {
    cursor: pointer;
}

.hangul {
    font-weight: bold;
    font-size: 30px;
}

#header {
    display: flex;
    justify-content: center;
    color: white;
    padding: 14px;
    font-size: 20px;
}

#menuScreen {
    background-color: rgba(43, 43, 43, 0.213);
    height: 650px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer {
    /* background-color: rgba(43, 43, 43, 0.213); */
    height: 60px;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.options {
    /* background-color: aliceblue; */
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

div [canChangeFilter="false"] {
    pointer-events: none;
    color: grey;
}

div [filterOn="true"] {
    font-weight: bold;
    font-size: 14px;
}

.footerIcon {
    background-color: transparent;
}

.icon {
    cursor: pointer;
    padding: 20px;
    z-index: 5;
    font-size: 22px;
}

svg {
    z-index: 100;
    z-index: -1;
    position: relative;
}

#timer {
    display: flex;
    flex-direction: row;
}

.resetButton {
    color: black;
    font-size: 20px;
}